body {
  font-family: "Merriweather", serif;
  margin: 20px 150px;
}
h1 {
  color: #347474;
  font-weight: 600;
  font-size: 35px;
}

h2 {
  color: #347474;
  font-size: 62px;
}

h3 {
  color: #347474;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
}

.button-style {
  background-color: #347474;
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.app {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
}

.degrees {
  font-size: 20px;
  vertical-align: top;
}
.four-columns {
  margin-top: 20px;
  vertical-align: middle;
}

.first-column-main {
  padding-left: 25px;
}

.main-icon {
  font-size: 78px;
  color: #347474;
  vertical-align: middle;
}

.current-temperature {
  vertical-align: middle;
  padding: 20px 0 0 30px;
}

.weather-info {
  text-align: right;
  font-size: 15px;
  padding-top: 20px;
}

.five-days {
  margin: 20px 0 20px 0;
  text-align: center;
}

.five-days-icons {
  font-size: 54px;
  margin-bottom: 20px;
}
